.exitIcon {
    -fx-background-image: url("exit.png");
    -fx-background-color: #eee590;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;;
    -fx-background-size: cover;
}